body{
  padding: 0;
  margin: 0;
  background-color: #F0F0F0;

}
header{
  display: block;
  height:60px;
  width: 100%;
  background-color: white;





}
header p {
  text-align: center;
  font-size: 30px;
  font-style: oblique;
  margin-top: 10px 0px;

}

ul{
  float: right;
  list-style-type: none;

}
ul li {
  display: inline-block;
  margin: 10px 20px;

}

ul li a{
  text-decoration: none;

  padding: 5px 20px;
  border: 1px solid black;
  color: black;
  background-color: white;
  transition: 0.6 ease;

}

img {
  float: left;
  margin: 10px 20px;
}
.frame{
  border: 10px black;





}


ul li a:hover{

  color: white;
  background-color: black;


}


.frame iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 80%;
  background-color: white;
}

.ifm{
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  font-size: 30px;
  font-style: oblique;
}


.text p{
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  font-size: 30px;
  font-style: oblique;
  margin-top: 15px;
}

.sond{

  background-color:white;
 color: black;
 width: 50%;

 margin-top:3%;
 margin-bottom: 5%;
 margin-left: auto;
 margin-right: auto;
 font-size: large;
 padding-bottom: 1.420%;
    padding-top: 1.420%;

 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}
.coms{ text-align: center;
  padding: 20px;

}

footer{
  background-color: White	;
  padding: 30px
}

.btn{
  background-color: #3300FF;
  font-size: 20px;
  color: #FFFAFA;
  display: block;
  padding: 10px;
  border-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}
